body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.back{
    background-image: url("images/backs.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 120px;
}
.container{
    margin-bottom: 100px;
}
.buy-now-button{
    background-color: black;
    color:white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
ol.carousel-indicators li.active {
    opacity: 1;
    background-image: linear-gradient(to right, rgb(223, 102, 4) 0%, rgb(250, 156, 34) 100%);
    height: 8px;
    width: 30px;
    border-top-left-radius: 5px 15px;
    border-top-right-radius: 5px 15px;
    border-bottom-left-radius: 5px 15px;
    border-bottom-right-radius: 5px 15px;
    transition : opacity .6s linear;
}
ol.carousel-indicators li {
    height: 8px;
    width: 12px;
    border-top-left-radius: 5px 15px;
    border-top-right-radius: 5px 15px;
    border-bottom-left-radius: 5px 15px;
    border-bottom-right-radius: 5px 15px;
    background-color: gray;

}
.carousel{
    height: 450px;
}
.see-all{
    color: orange;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: large;
}
.see-all:hover{
    color: orangered;
    text-decoration: none;
}
.card{
    border: none;
    padding: 20px 20px 20px 20px;
    box-shadow: 1px 1px 20px 2px rgb(238, 237, 237);
    border-radius: 25px;
}
.card-text, .card-title{
    text-align: center;
}
.catagories-title{
    text-align: center;
}
.catagories-underline{
    background-image: linear-gradient(to left, rgb(223, 102, 4) 0%, rgb(250, 156, 34) 100%);
    height: 8px;
    width: 150px;
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
}
.cat-img1,.cat-img2,.cat-img3{
    border: none;
    box-shadow: 1px 1px 10px lightgray;
    padding: 25px 40px 25px 40px;
}
.cat-img2,.cat-img3{
    border-top-left-radius: 30px 30px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 30px 30px;
}
.cat-img1{
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-bottom-right-radius: 5px 5px;
}
.cat-img1 p,.cat-img2 p,.cat-img3 p{
    margin-top: 10px;
    text-align: center;
}
.beauty{
    margin-bottom: 40px;
}
footer p{
    text-align: center;
    font-size: small;
}
.submit{
    margin-top: 5px;
}